<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Add Photo</title>
</head>
<body class="m-5">
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'show_photo' %}" class="btn btn-outline-dark m-3">Go Back</a>
                <div class="card p-4">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea required name="description" class="form-control" placeholder="Enter a description" rows="3"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-control" name="category">
                                <option value="none">Select a category..</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="category_new" class="form-label">Create a new_category</label>
                            <input class="form-control" name="category_new" placeholder="Create a new_category">
                        </div>
                        
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload Image</label>
                            <input required class="form-control" name="image" type="file" id="image" onchange="getImagePreview(event)">
                        </div>
                        <div id="preview"></div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getImagePreview(event)
        {
            var image = URL.createObjectURL(event.target.files[0]);
            var imagediv = document.getElementById('preview');
            var newimg = document.createElement('img');
            imagediv.innerHTML = '';
            newimg.src = image;
            newimg.width = "300";
            imagediv.appendChild(newimg);

        }
    </script>


    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- Bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>