<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>view Photo</title>
</head>
<body>
    
    <div class="container m-5">
        <div class="row justify-content-center">
            <div class="col">
                <a href="{% url 'show_photo' %}" class="btn btn-outline-dark m-3">Go Back</a>

                <div style="height: 90vh;">
                    <h5 class="my-5">Category:  {{ photo.category.name }}</h5>
                    <h5 class="my-5">Name:  {{ photo.name }}</h5>
                    <img style="max-width: 100%; max-height: 100%;" src="{{ photo.image.url }}" alt="">
                    <p>{{ photo.description }}</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>